$c-red = #EB1D36
$c-orange = #FF6D28
$c-yellow = #FCE700
$c-green = #92FE9D
$c-cyan = #3EECFF
$c-blue = #1F6FEB
$c-purple = #9c27b0

_common_dark_theme_custom()
  --site-bg: #0D1117 !important
  --card: #010409  !important
  --block: #161b22 !important
  --text: #ffffdc !important
  --text-p1: #ffffdc !important
  --text-p2: #ffffdc !important
  --text-p3: #ffffdc !important
  --text-p4: #ffffdc !important
  --block-border: #222a35 !important
  .social-wrap
      .social
        filter: invert(1)
        &:hover
          background: #fff 

// 跟随系统颜色 设定
:root:not([data-theme])
  @media (prefers-color-scheme: dark)
    _common_dark_theme_custom()
  // @media (prefers-color-scheme: light)

// 默认黑色主题 设定
:root[data-theme="dark"]
  _common_dark_theme_custom()

/*********** 全局设置 **************/
// 字体设置
:not(pre, .far, .fa, .glyphicon, [class*="vjs-"], .fab, .fa-github, .fas, .material-icons, .icofont, .typcn, mu, [class*="mu-"], .glyphicon, .icon)
  -webkit-text-stroke: 0.2px !important

/*********** tag-plugin **************/
.tag-plugin.timeline .body
  background: var(--block) !important
.tag-plugin.timeline[api] .body .footer
  background: var(--block) !important
.md-text .tag-plugin.timeline
  &:before
    background: var(--block) !important

p>code:not([class]),li>code:not([class])
  background: rgba(255, 255, 255, 0) !important
  color: $c-orange !important
pre:not([class]):has(>code)
  border: 2px solid var(--block-border);

/*********** footer **************/
.social-wrap
  padding-bottom: 10px

.large-social-wrap
  grid-gap: 0.25rem 0.25rem
  grid-template-columns: repeat(auto-fill, 32px)
  .large-social
    font-size: 0.9rem
    height: 1.2em
    line-height: 0
    display: block
    padding: 6px
    border-radius: 32px
    overflow: hidden
    background: transparent
    trans3: box-shadow background transform
    @media (prefers-color-scheme: dark)
      svg
        filter: brightness(0) invert(1)
    @media (prefers-color-scheme: light)
      svg
        filter: brightness(0) 
    &:hover
      z-index: 1
      @media (prefers-color-scheme: dark)
        svg
          filter: brightness(0) invert(1)
      @media (prefers-color-scheme: light)
        svg
          filter: unset
      background: var(--alpha100)
    img
      display: inline-block
      height: 1.2em
      width: 1.2em
      border-radius: 2px
    span
      display: inline-block
      height: 0.6em
      vertical-align: middle
      color: var(--text-p1)
      margin-left: 0.5em

/*********** code **************/
// code 代码块仿 mac
td
  pre
    &::before
      content ""
      height 16px
      display block
    &::after
      content " "
      position absolute
      border-radius 50%
      background #ff5f56
      width 12px
      height 12px
      top 0
      left 12px
      margin-top 12px
      -webkit-box-shadow 20px 0 #ffbd2e, 40px 0 #27c93f
      box-shadow 20px 0 #ffbd2e, 40px 0 #27c93f

// 代码块标题不占用 mac 图标 
.md-text .highlight
  figcaption
    span
      padding: 5px 5rem !important

a:hover
  color: var(--theme-link) !important
